<%= form_with(model: user_ingredient, local: true) do |form| %>
  <% if user_ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_ingredient.errors.count, "error") %> prohibited this user_ingredient from being saved:</h2>

      <ul>
      <% user_ingredient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :user_ingredient_user_id %>
  </div>

  <div class="field">
    <%= form.label :ingredient_id %>
    <%= form.text_field :ingredient_id, id: :user_ingredient_ingredient_id %>
  </div>

  <div class="field">
    <%= form.label :quanity %>
    <%= form.number_field :quanity, id: :user_ingredient_quanity %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
